:root {
  --accent-color: #2196f3;
  --primery-text-color: #212121;
  --secondary-text-color: #757575;
  --text-color: #000000;
  --title-white-color: #ffffff;
  --background-primary-color: #ffffff;
  --background-secondary-color: #2f303a;
  --background-tertiary-color: #f5f4fa;
  --card-set-gap: 30px;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
}